*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(ball.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.nabr{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: chocolate;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex ;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: chocolate;
}


.content{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}  
.content h1{
    font-size: 42px;

}
.content p{
    font-size: 14px;
    margin: 10px 0 40px;
    color: #fff;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-instagram{
  background-color: #e1306c;
  color: #ffffff;

}
.fa-twitter{
    background-color: #46c1f6;
    color: #ffffff;
}
.fa-youtube{
    background-color: #de463b;
    color: #ffffff;
}
